{% extends "template/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div uk-grid>
        <div class="uk-width-1-4@s uk-visible@s" id="tree">
            <div>
            </div>
        </div>
        <div class="uk-width-3-4@s uk-width-4-4 uk-padding-remove@s" uk-height-viewport="offset-top: true">
        </div>
    </div>
{% endblock %}