<nav class="uk-navbar-container" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/"><i class="icofont icofont-home"></i></a></li>
            {% if user %}
                <li><a href="/config"><i class="icofont icofont-gear"></i>&nbsp;Config</a></li>
            {% endif %}
            {% if user and user.id == 1 %}
                <li><a href="/cron/step1">Cron Check</a></li>
                <li><a href="/cron/step2">Cron récupération</a></li>
                <li><a href="/cron/step3">Parser</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if user %}
                <li><a>{{ user.name }}</a></li>
                <li><a href="/logout">&nbsp;<i class="icofont icofont-logout"></i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>