{% extends "base.twig" %}

{% block title %}Feeds{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>Feeds</h1>
        <ul>
            {% for _feed in feeds  %}
                <li>
                    <a href="{{ _feed.url }}">{{ _feed.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}