{% extends "template/base.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>{{ code }}</h1>
        <p class="important">
            {{ message }}
        </p>
        <p><a href="{{ prefix }}/">Retour site</a></p>
    </div>
{% endblock %}

