{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>{{ code }}</h1>
        <p class="important">
            {{ message }}
        </p>
        <p><a href="/">Retour site</a></p>
    </div>
{% endblock %}

