{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="uk-container">

        <h1>Accueil</h1>
        <p class="important">
            Bienvenue ... {{ toto }}
        </p>
    </div>
{% endblock %}

