{% extends "template/base.twig" %}

{% block title %}Preferences{% endblock %}

{% block content %}
    <div class="uk-padding">
        <h1>Preferences</h1>

        <p>
            <label>
                <input type="checkbox" name="proxy_https" value="0" class="uk-checkbox" />
                Proxy HTTPS images
            </label>
        </p>

        <p>Menu BG color</p>

        <p>Share button</p>

        <p>keyboard shortcuts</p>

        <p></p>
    </div>
{% endblock %}